body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #1f1f1f;
}

#customerForm label,
#customerForm input,
#customerForm button,
#addressForm label,
#addressForm input,
#addressForm button,
#orderDetailForm label,
#orderDetailForm input,
#orderDetailForm button,
#orderForm label,
#orderForm input,
#orderForm button,
#productForm label,
#productForm input,
#productForm button {
    display: block;
    margin: 10px;
    padding: 5px;
}

#updateCustomerForm,
#updateAddressForm,
#updateOrderDetailForm,
#updateOrderForm,
#updateProductForm {
    display: none;
}

#updateCustomerForm label,
#updateCustomerForm input,
#updateCustomerForm button,
#updateAddressForm label,
#updateAddressForm input,
#updateAddressForm button,
#updateOrderDetailForm label,
#updateOrderDetailForm input,
#updateOrderDetailForm button,
#updateOrderForm label,
#updateOrderForm input,
#updateOrderForm button,
#updateProductForm label,
#updateProductForm input,
#updateProductForm button {
    display: block;
    margin: 10px;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}


#analyticsResult {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    margin: 8px;
}

fieldset {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

#linearRegForm label,
#linearRegForm input,
#linearRegForm button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#analyticsResult label {
    display: block;
    margin-bottom: 3px;
}

#linearRegForm {
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        margin-bottom: 20px;
    }
}


@media (max-width: 530px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        margin-bottom: 20px;
    }
}